<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="bg">
            <h1 id = judul>Aplikasi<br> Pembukuan UMK</H1>
                <form th:action="@{/login/}" method="post">
                    <div id="uname" class="input">
                        <label for="Username">Username</label><br>
                        <input type="text" name="username" id="Username" placeholder="Masukan username"><br>
                    </div>
                    <div id = pw class="input">
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Masukan Password"><br>
                    </div>
                    <button type="submit" name="submit">Sign in</button>
                </form>
                <a href="">Daftar UMK</a>
        </div>
    </div>
</body>
</html>