<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/MainPageTemplate.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbarcontainer">
        <div class="leftgroup">
            <p id="judul">UMK APP</p>
            <p class="judulkecil">UMK</p>
            <p class="judulkecil">Products</p>
            <p class="judulkecil">Request</p>
        </div>
        <div class="rightgroup">
            <div id="logout">
                Logout
            </div>
        </div>
        
    </div>
    <div id="bodycontainer">

    </div>
</body>
</html>