<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/umkOverview.css">
</head>
<body>
    
    <h1>UMK Overview</h1>

    <div id="fitur1">
        <select name="" id="">Top</select>
        <form action="">
            <input type="text">
            <button type="submit">search</button>
        </form>
    </div>
    <div id="listUmk">
        <div th:each="umk : ${results}" >
            <div id="fotoUMK" th:style="back"></div>
            <div id="description">
                <h3 th:text="${umk.name}"></h3>
                <h3 th:text="${umk.description}"></h3>
            </div> 
        </div>
    </div>

     
</body>
</html>