<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div  class="navbar" >
        <h1>UMK APP</h1>
        <a href="/admin/umkOverview"><p>UMK</p></a> 
        <a href="/admin/topProduk"><p>Top Produk</p></a>
        <a href="/admin/request"><p>Request</p></a>
        <div id="profile"></div>
        <a href="/admin/">log out</a>
    </div>

</body>
</html>