<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productpage.css">
</head>
<body>
    <div  class="navbar" >
        <h1>UMK APP</h1>
        <div class="nav-links" >
            <a href="/umk/overview"><p>UMK</p></a>
            <a href="/umk/produk"><p>Top Produk</p></a>
            <a href="/umk/Transaksi"><p>Request</p></a>
        </div>
        
        <button class="logout-button" onclick="window.location.href='/login/';">Log out</button>
    </div>
    
    <div class="main">
        <form action="/umk/add" method="post" enctype="multipart/form-data">
            <p>Nama Produk :</p>
            <input type="text" name="nama">
            <p>Harga :</p>
            <input type="number" step=".01" min="0" max="10000000" name="harga">
            <p>Deskripsi :</p>
            <input type="text" name="deskripsi">
            <p>Satuan :</p>
            <input type="text" name="satuan">
            <p>Stock :</p>
            <input type="number" min="0" name="stock">
            <div>
                <input type="file" name="file">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
   
</body>
</html>