<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/checkoutpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="../../static/Scripts/checkoutpage.js" type="text/javascript" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <h1>UMK APP</h1>
        <div class="nav-links">
            <a href="laporankeuanganharian.html">Overview</a>
            <a href="ProductPage.html">Products</a>
            <a href="PageTransaksi.html">Transaction</a>
        </div>
        <button class="logout-button"><a href="loginuser.html">Log out</a></button>
        <!-- <div class="profile">J</div> -->
    </div>
    <div class="bodycontainer">
        <div class="subcontainer">
            <h1>Checkout</h1>
            <div class="checkout-container">
            <div class="checkout-items">
                <!-- This is where the selected products will be dynamically added -->
            </div>
            <div class="checkout-summary">
                <p>Total Price: <span class="total-price"></span></p>
                <button class="confirm-btn">Confirm</button>
                <button class="cancel-btn">Cancel</button>
            </div>
        </div>
        
    </div>
    
    </div>
</body>
</html>