<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/createproduk.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="../../static/Scripts/createproduct.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="navbar">
        <h1>UMK APP</h1>
        <div class="nav-links">
            <a href="laporankeuanganharian.html">Overview</a>
            <a href="ProductPage.html">Products</a>
            <a href="PageTransaksi.html">Transaction</a>
        </div>
        <button class="logout-button"><a href="loginuser.html">Log out</a></button>
        <!-- <div class="profile">J</div> -->
    </div>
    <div class="bodycontainer">
       
        <div class="container">
            <a href="ProductPage.html"><button id="backbutton">back</button></a>
            
    
            <!-- Input Fields Section -->
            <form id="product-form">
                <div class="input-group">
                    <label for="productname">Name:</label>
                    <input type="text" id="productname" placeholder="New Product">
                </div>
                <div class="input-group">
                    <label for="category">Category:</label>
                    <input type="text" id="category" placeholder="Enter category">
                </div>
                <div class="input-group">
                    <label for="price">Price:</label>
                    <input type="number" id="price" placeholder="Enter price">
                </div>
                <div class="input-group">
                    <label for="product-code">Product Code:</label>
                    <input type="text" id="product-code" placeholder="Enter product code">
                </div>
                <div class="input-group">
                    <label for="stocks">Stocks:</label>
                    <input type="number" id="stocks" placeholder="Enter stock quantity">
                </div>
                <!-- Submit Button -->
                <button type="submit" id="submit-btn">Submit</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>