<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Laporankeuanganharian.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="../../static/Scripts/laporankeuanganharian.js" defer></script>
</head>
<body>
    <div class="navbar">
        <h1>UMK APP</h1>
        <div class="nav-links">
            <a href="laporankeuanganharian.html">Overview</a>
            <a href="ProductPage.html">Products</a>
            <a href="PageTransaksi.html">Transaction</a>
        </div>
        <button class="logout-button"><a href="loginuser.html">Log out</a></button>
    </div>

    <div class="bodycontainer">
        <div class="laporancontainer">
            <div class="navbarlaporan">
                <button class="monthnavigationbutton" onclick="changeMonth(-1)">&lt</button>
                <p id="month">Nov 2024</p>
                <button class="monthnavigationbutton" onclick="changeMonth(1)">&gt</button>
            </div>
            <div class="headerlaporan">
                <p style="color: blue;" id="totalincome">Income: Rp 0</p>
                <p style="color: red;" id="totalekspense">Expense: Rp 0</p>
                <p id="totalselisih">Total: Rp 0</p>
            </div>
            <div class="contentlaporan" id="reportContent">
                <!-- Dynamically filled content will go here -->
                <div class="content">
                    <p>Kategori : Pemasukan</p>
                    <p>Rp 100.000</p>
                </div>
            </div>
            <a href="entryincome.html"><button class="round-button">+</button></a>
        </div>
    </div>
</body>
</html>
