<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/Laporankeuanganharian.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <h1>Portal TA</h1>
        <div class="nav-links">
            <a href="">Overview</a>
            <a href="">Products</a>
            <a href="">Transaction</a>
        </div>
        <button class="logout-button" onclick="window.location.href='../../Login/login.html';">Log out</button>
        <!-- <div class="profile">J</div> -->
    </div>

    <div class="bodycontainer">
        <div class="laporancontainer">
            <div class="navbarlaporan">
                <button class="monthnavigationbutton">&lt</button>
                <p id="month">  Nov 2024  </p>
                <button class="monthnavigationbutton">&gt</button>
            </div>
            <div class="headerlaporan">
                <p style="color: blue;" id="totalincome">Income : 100.000</p>
                <p style="color: red;" id="totalekspense">Expense : 200.000</p>
                <p id="totalselisih">Total: 100.000</p>
            </div>
            <div class="contentlaporan">
                <div class="subcontainerlaporan">
                    <div class="subcontainerlaporan-header">
                        <p class="date">16 Nov</p>
                        <p class="income">100.000</p>
                        <p class="outcome">100.000</p>
                    </div>
                    <div class="subcontainerlaporan-body">
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                    </div>
                </div>
                <div class="subcontainerlaporan">
                    <div class="subcontainerlaporan-header">
                        <p class="date">16 Nov</p>
                        <p class="income">100.000</p>
                        <p class="outcome">100.000</p>
                    </div>
                    <div class="subcontainerlaporan-body">
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                    </div>
                </div>
                <div class="subcontainerlaporan">
                    <div class="subcontainerlaporan-header">
                        <p class="date">16 Nov</p>
                        <p class="income">100.000</p>
                        <p class="outcome">100.000</p>
                    </div>
                    <div class="subcontainerlaporan-body">
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                        <div class="content">
                            <p>Kategori : Pemasukan</p>
                            <p>Rp 100.000</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="round-button">+</button>
        </div>
    </div>
</body>
</html>