<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/productpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="../../static/Scripts/Productpage.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="navbar">
        <h1>UMK APP</h1>
        <div class="nav-links">
            <a href="laporankeuanganharian.html">Overview</a>
            <a href="ProductPage.html">Products</a>
            <a href="PageTransaksi.html">Transaction</a>
        </div>
        <button class="logout-button" onclick="window.location.href='../../Login/login.html';">Log out</button>
        <!-- <div class="profile">J</div> -->
    </div>

    <div class="bodycontainer">
        <div class="subcontainer">
            <div class="header">
                <p id="subjudul">Product Overview</p>
                <div class="filtercontainer">
                    <div class="search-container">
                        <input type="text" id="search-bar" placeholder="Search..." />
                        <button id="search-button">Search</button>
                    </div>
                </div>

                <div class="allproductcontainer">

                    <div class="productcomponent">
                        <div class="product-summary">
                            <p class="product-name">Product Name</p>
                            <p class="product-price">Price: Rp x</p>
                            <p class="product-sold">Sold Amount: x</p>
                            <button class="toggle-details">⬇</button>
                        </div>
                        <div class="product-details" style="display: none;">
                            <p><strong>Product:</strong> Product Name</p>
                            <p><strong>Category:</strong> Category Name</p>
                            <p><strong>Price:</strong> Rp x</p>
                            <p><strong>Sold Amount:</strong> x</p>
                        </div>
                    </div>
                    
                </div>

                
            </div>
        </div>
            
            
        <a href="createproduk.html"><button class="round-button">+</button></a>
    </div>
</body>
</html>