<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/productpage.css">
</head>
<body>
    <div  class="navbar" >
        <h1>UMK APP</h1>
        <div class="nav-links" >
            <a href="/umk/overview"><p>UMK</p></a>
            <a href="/umk/produk"><p>Top Produk</p></a>
            <a href="/umk/Transaksi"><p>Request</p></a>
        </div>
        
        <button class="logout-button" onclick="window.location.href='/login/';">Log out</button>
    </div>

    <div class="bodycontainer">
            <div class="subcontainer">
                <div class="judul ">
                    <h2>List Produk :</h2>
                </div>
                <div class="addproduk">
                    <form action="/umk/addproduk">
                        <button type="submit">Add</button>
                    </form>
                </div>

                <div class="allproductcontainer">
                    <div class="productcomponent" th:each="row : ${produk}">
                        <h3 th:text="${row.namaProduk}" class="product-name">namaProduk</h3>
                        <form action="/umk/editProduk" method="post" class="product-price">
                            <input type="hidden" th:value="${row.idProduk}" name="idProduk">
                            <button type="submit">Edit</button>
                        </form>
                        <button onclick="toggleDetails(this)" class="toggle-details">detail</button>
                        <div class="product-details" style="display: none;">
                            <div>
                                <img th:src="${row.foto}" alt="gambar produk">
                            </div>
                            
                            <h3>Deskripsi :</h3>
                            <p th:text="${row.deskripsi}"></p>
                            <p th:text="'Harga :'+${row.harga}"></p>
                            <p th:text="'Satuan :'+${row.satuan}"></p>
                            <p th:text="'Stock :'+${row.Stock}"></p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script>
        function toggleDetails(button) {
          const details = button.nextElementSibling;
          details.style.display = details.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</body>
</html>