*{
    box-sizing: border-box
}

html{
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    margin: 0%;
}
.navBar{
    width: 100%;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "nama nav1 nav2 nav3 . profile logOut";
    
}

.navBar h1{
    grid-area: nama;
}

.navBar a:nth-of-type(1){
    text-decoration: none;
    grid-area: nav1;
}

.navBar a:nth-of-type(2){
    text-decoration: none;
    grid-area: nav2;
}

.navBar a:nth-of-type(3){
    text-decoration: none;
    grid-area: nav3;
}

#profile{
    grid-area: profile;
    width: 100px;      /* Set the width of the circle */
    height: 100px;     /* Set the height of the circle */
    background-color: red; /* Circle color */
    border-radius: 50%;  
}
.navBar button{
    grid-area: logOut;
}

