.navbar{
    height: 90px;
    width: 100%;
    background-color: #D9D9D9;
    display: grid;
    grid-auto-flow: column;
}

body{
    margin: 0;
}

#listUmk{
    width: 100%;
}

#objectUmk{
    height: 253px;
    width: 319px;
    background-color: grey;
}

.kotak{
    background-color: aqua;
    width: 319px;
    height: 253px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "photo"
    "teks";
}

.teksBox{
    background-color: grey;
    width: 319px;
    height: 100px;
    grid-area: teks;
    overflow: hidden;
}

.container{
    width: 1003px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.teksBox p{
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.teksBox p:nth-of-type(1){
   
    font-size: 27px;
}

body {
    font-family: 'Roboto', sans-serif;
}

fieldset{
    display: flex;
    column-gap: 10px
}

select{
    width: 160px;
    height: 40px;
   
}

input{
    width: 200px;
    height: 30px;
}

#content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.dropdown{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto 1fr 5rem;
    grid-template-areas: 
    "produk umk sold . button"
    ". data data data .";
    height: auto;
    width: 100%;
    background-color: grey;
    gap: 20px;
    border: 2px solid black;
}


.dropdown h2:nth-of-type(1){
    grid-area: produk;
}

.dropdown h2:nth-of-type(2){
    grid-area: umk;
}

.dropdown h2:nth-of-type(3){
    grid-area: sold;
}

.dropdown button{
    grid-area: button;
}

.dropdown div{
    grid-area: data;
}

.dropdown-details{
    display: none;

}

.display-details{
    display: grid;
    border: 2px solid black;
    width: 100%;
}