<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Pembukuan UMK1</h1>
        <form action="">
            <p>Username</p>
            <input type="text" placeholder="Masukan Username">
            <p>Password</p>
            <input type="password" placeholder="Masukan Password">
            <button type="submit">Sign in</button>
        </form>
        <a href=""><p>daftar UMK</p></a>
    </div>
</body>
</html>